deckgo-deck {
    --pager-background: var(--ion-color-tertiary-tint);
    --pager-color: var(--ion-color-primary-shade);
    --pager-text-color: var(--ion-color-primary-shade);

    --pager-margin-bottom: 18px;

    --pager-size: 40px;
}

deckgo-deck div[slot="background"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
