*, h3, h4, h5, h6 {
    font-weight: 300;
}

a, strong {
    font-weight: 500;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    max-width: 100%
}

deckgo-deck {
    --deckgo-highlight-code-font-family: Menlo, monospace;
}

ion-label, ion-label[text-wrap].sc-ion-label-md-h, p {
    font-size: 1em;
}

@media(min-width: 992px) {
    body {
        font-size: 32px;
    }

    ion-label, ion-label[text-wrap].sc-ion-label-md-h, p {
        font-size: 32px;
    }
}

@media(max-width: 768px) {

    h1 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.2em;
    }
}
