body {
    margin: 0;
}

:root {
    --ion-background-color: #3880ff;

    --ion-text-color: var(--ion-color-primary);

    --ion-header-size: 40px;
}

h1 {
    color: var(--ion-color-primary);
}

a ion-icon {
    margin-right: 4px;
}

li, blockquote, p {
    font-size: 20px;
    padding: 8px;
}

li ion-icon {
    font-size: 30px;
}

blockquote {
    font-style: italic;
}

strong {
    text-decoration: underline;
}

img.add-box-shadow, code {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .14), 0 4px 5px rgba(0, 0, 0, .1);
}
