:root {
    --ion-background-color: #3880ff;
    --ion-text-color: var(--ion-color-primary);
    --ion-header-size: 40px;
}

ion-content {
    --ion-background-color: transparent;
}

ion-fab {
    direction: ltr;
}

ion-fab ion-fab-button.hide-on-mobile {
    display: var(--deckgo-hide-on-mobile);
}
